<div class="modal-header">
  <h4>{{lang.lang.recreate_pwd}}</h4>
</div>
<div class="modal-body">
  <form [formGroup]="form" (ngSubmit)="captchaRef.execute()">
    <div class="form-group">
      <input type="text" formControlName='email' class="form-control" [placeholder]="lang.lang.ur_email">
      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
          <div *ngIf="email.errors.required">
            {{lang.lang.email_required}}
          </div>
          <div *ngIf="email.errors.minlength">
            {{lang.lang.email_min_err}}
          </div>
          <div *ngIf="email.errors.pattern">
            {{lang.lang.email_invalid}}
          </div>
          <div *ngIf="email.errors.maxlength">
            {{lang.lang.email_max_err}}
          </div>
      </div>
    </div>
    <div style='display: none'>
      <re-captcha (resolved)="$event && submit($event)" [siteKey]="shared.recaptchasitekey" #captchaRef="reCaptcha" size="invisible" badge="inline"></re-captcha>
    </div>
    <div class="form-group">
      <button type="submit" [disabled]='form.invalid' class="btn btn-default form-control">{{lang.lang.submit}}</button>
    </div>
  </form>
  <alert *ngIf='alert' [type]="alert.type">{{alert.msg}}</alert>
</div>
