<div class="modal-header">
  <h4>{{title}}</h4>
</div>
<div class="modal-body">
  <p>{{message}}</p>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" (click)="modalRef.hide()">OK</button>
</div>
