
.site-name {
  padding: 0;
}
.profile {
  display: inline-block;
  height: 50px;
  width: 100%;
  margin: 0;
  padding: 0 15px 0 5px;
}
.profile-table {
  height: 50px;
  margin: 0;
  padding: 0;
  width: 100%;
}
.username {
  max-width: 120px;
}
@media (min-width: 768px) {
  .last-nav-item {
    padding-right: 14px;
  }
  .menu-item-sign {
    display: none;
  }

  .profile-li {
    height: 50px;
  }
}
@media (max-width: 767px) {
  .collapse.form-inline {
    margin: 15px;
  }
  .menu-item-sign {
    margin-left: 10px;
    margin-right: 14px;
    display: inline-block;
    width: 16px;
  }
}
.navbar.navbar-default {
  background-color: #ffffff;
  border: 0;
  box-shadow: 0px 2px 6px 0px #00000030;
  -webkit-box-shadow: 0px 2px 6px 0px #00000030;
}
.wrapper1 {
  max-width: 350px;
  padding: 25px;
}
.navbar-nav {
  margin-top: 0;
  margin-bottom: 0;
}
.username {
  overflow: hidden;
  white-space: nowrap;
}
.collapse.navbar-collapse {
  border: 0;
  box-shadow: none;
}
.nav-wrapper {
  max-width: 1220px;
  margin: 0 auto;
}
* {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
