<nav class="navbar navbar-fixed-top navbar-default">
  <div class="nav-wrapper">
    <div class="navbar-header">
      <!-- <a class="navbar-brand site-name" role="button" (click)="reloadPage()">
        <img src="assets/link4friend.png" height="50px">
      </a> -->
      <a class="navbar-brand" role="button" (click)="reloadPage()">fordemonstration</a>
      <button (click)="navCollapse = !navCollapse" class="navbar-toggle collapsed" type="button">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" [collapse]="navCollapse">

      <ul class="nav navbar-nav">
        <!-- feed -->
        <li routerLinkActive="active">
          <a role='button' class="nav-link" routerLink='feed' (click)="navCollapse = true">
            <span class="menu-item-sign"><i class="fa fa-television" aria-hidden="true"></i></span>{{lang.lang.feed}}
          </a>
        </li>
        <!-- favorite -->
        <li *ngIf="session.session" routerLinkActive="active" dropdown class="dropdown">
          <a role='button' role='button' class="dropdown-toggle" dropdownToggle><span class="menu-item-sign"><i class="fa fa-heart" aria-hidden="true"></i></span>{{lang.lang.favorite}} <span class="caret"></span></a>
          <ul *dropdownMenu class="dropdown-menu">
            <li routerLinkActive="active"><a role='button' routerLink="favposts" (click)="navCollapse = true">{{lang.lang.posts}}</a></li>
            <li routerLinkActive="active"><a role='button' routerLink="favcomments" (click)="navCollapse = true">{{lang.lang.comments}}</a></li>
            <li routerLinkActive="active"><a role='button' routerLink="subscriptions" (click)="navCollapse = true">{{lang.lang.subscriptions}}</a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <!-- search -->
        <li routerLinkActive="active">
          <a routerLink='search' (click)="navCollapse = true; "><span class="menu-item-sign"><i class="fa fa-search" aria-hidden="true"></i></span>{{lang.lang.search}}</a>
        </li>
        <ng-container  *ngIf="!session.session">
          <!-- log-in -->
          <li>
            <a role="button" (click)="navCollapse = true; authorizationForm()"><span class="menu-item-sign"><i class="fa fa-sign-in" aria-hidden="true"></i></span>{{lang.lang.log_in}}</a>
          </li>
          <!-- sign-up -->
          <li routerLinkActive="active">
            <a routerLink='sign-up' (click)="navCollapse = true"><span class="menu-item-sign"><i class="fa fa-user-plus" aria-hidden="true"></i></span>{{lang.lang.sign_up}}</a>
          </li>
        </ng-container>
        <ng-container *ngIf="session.session">
          <!-- complaints -->
          <li *ngIf="session.session.status === 'admin'" routerLinkActive="active" class="visible-xs-inline visible-lg-inline">
            <a routerLink='complaints' (click)="navCollapse = true"><span class="menu-item-sign"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></span>{{lang.lang.complaints}}</a>
          </li>
          <!-- new post -->
          <li routerLinkActive="active" class="visible-xs-inline visible-lg-inline">
            <a routerLink='newpost' (click)="navCollapse = true"><span class="menu-item-sign"><i class="fa fa-plus" aria-hidden="true"></i></span>{{lang.lang.new_post}}</a>
          </li>
          <!-- profile -->
          <li routerLinkActive="active" dropdown class="dropdown" class="profile-li">
            <a role='button' dropdownToggle class="dropdown-toggle profile">
              <table class="profile-table">
                <tr>
                  <td style="padding: 5px; width: 50px"><img [src]="session.upic" width="40px" height="40px"></td>
                  <td class="hidden-sm" style="padding-right: 2px; width: 30px"><span> {{lang.lang.hello}}, </span></td>
                  <td class="username"><span>{{session.session.username}}</span></td>
                  <td *ngIf="session.message_counter > 0" style="width: 5px"><span class="badge">{{session.message_counter}}</span></td>
                  <td style="width: 5px"><span class="caret"></span></td>
                </tr>
              </table>
            </a>
            <ul *dropdownMenu class="dropdown-menu dropdown-menu-right">
              <li routerLinkActive="active">
                <a role='button' [routerLink]="['/profile', session.session.username]" (click)="navCollapse = true">{{lang.lang.my_profile}}</a>
              </li>
              <li routerLinkActive="active">
                <a role='button' routerLink='messages' (click)="navCollapse = true">{{lang.lang.messages}} <span *ngIf="session.message_counter > 0" class="badge">{{session.message_counter}}</span></a>
              </li>
              <li>
                <a role='button' (click)='session.logOut()' (click)="navCollapse = true">{{lang.lang.log_out}}</a>
              </li>
            </ul>
          </li>
        </ng-container>
        <!-- top users -->
        <li routerLinkActive="active" [class.visible-xs-inline]="session.session" [class.visible-lg-inline]="session.session">
          <a routerLink='users' (click)="navCollapse = true">
            <span class="menu-item-sign"><i class="fa fa-trophy" aria-hidden="true"></i></span>{{lang.lang.top_users}}
          </a>
        </li>
        <!-- language -->
        <li dropdown class="dropdown" [class.visible-xs-inline]="session.session" [class.visible-lg-inline]="session.session">
          <a role='button' dropdownToggle class="dropdown-toggle"><span class="menu-item-sign"><i class="fa fa-globe" aria-hidden="true"></i></span>Language <span class="caret"></span></a>
          <ul *dropdownMenu class="dropdown-menu">
            <li><a role='button' (click)="lang.chooseLang('en')">English 🇬🇧</a></li>
            <li><a role='button' (click)="lang.chooseLang('ru')">Русский 🇷🇺</a></li>
          </ul>
        </li>
        <!-- more -->
        <li routerLinkActive="active" dropdown class="dropdown" *ngIf="session.session" class="visible-sm-inline visible-md-inline">
          <a role='button' dropdownToggle class="dropdown-toggle"><i class="fa fa-bars" aria-hidden="true"></i></a>
          <ul *dropdownMenu class="dropdown-menu">
            <li *ngIf="session.session.status === 'admin'" routerLinkActive="active">
              <a routerLink='complaints' (click)="navCollapse = true"><i class="fa fa-exclamation-triangle" aria-hidden="true" style="margin-right: 10px"></i> {{lang.lang.complaints}}</a>
            </li>
            <li routerLinkActive="active">
              <a routerLink='newpost' (click)="navCollapse = true"><i class="fa fa-plus" aria-hidden="true" style="margin-right: 10px"></i> {{lang.lang.new_post}}</a>
            </li>
            <li routerLinkActive="active">
              <a role='button' routerLink='users' (click)="navCollapse = true"><i class="fa fa-trophy" aria-hidden="true" style="margin-right: 10px"></i> {{lang.lang.top_users}}</a>
            </li>
            <li>
              <a role='button' (click)="lang.switchLang()"><i class="fa fa-globe" aria-hidden="true" style="margin-right: 10px"></i> Switch Language</a>
            </li>
          </ul>
        </li>
        <li style="margin: 8px"></li>
      </ul>

    </div>
  </div>
</nav>
