<form *ngIf="!done" [formGroup]="form" (ngSubmit)="captchaRef.execute()">
  <div class="form-group">
    <input formControlName="username" class="form-control" type="text" [placeholder]="lang.lang.username">
      <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
          <div *ngIf="username.errors.required">
            {{lang.lang.uname_required}}
          </div>
          <div *ngIf="username.errors.minlength">
            {{lang.lang.uname_min_err}}
          </div>
          <div *ngIf="username.errors.pattern">
            {{lang.lang.uname_invalid}}
          </div>
          <div *ngIf="username.errors.maxlength">
            {{lang.lang.uname_max_err}}
          </div>
          <div *ngIf="username.errors.usernameTaken">
            {{lang.lang.uname_exist}}
          </div>
      </div>
  </div>
  <div class="form-group">
    <input formControlName="email" class="form-control" type="text" [placeholder]="lang.lang.email">
    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
        <div *ngIf="email.errors.required">
          {{lang.lang.email_required}}
        </div>
        <div *ngIf="email.errors.minlength">
          {{lang.lang.email_min_err}}
        </div>
        <div *ngIf="email.errors.pattern">
          {{lang.lang.email_invalid}}
        </div>
        <div *ngIf="email.errors.maxlength">
          {{lang.lang.email_max_err}}
        </div>
        <div *ngIf="email.errors.emailTaken">
          {{lang.lang.email_exist}}
        </div>
    </div>
  </div>
  <div class="form-group">
    <input formControlName="password" class="form-control" type="password" [placeholder]="lang.lang.pwd">
    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">

        <div *ngIf="password.errors.required">
          {{lang.lang.pwd_required}}
        </div>
        <div *ngIf="password.errors.minlength">
          {{lang.lang.pwd_min_err}}
        </div>
        <div *ngIf="password.errors.maxlength">
          {{lang.lang.pwd_max_err}}
        </div>
    </div>
  </div>
  <div class="form-group">
    <input formControlName="password2" class="form-control" type="password" [placeholder]="lang.lang.confirm_pwd">
    <div *ngIf="(password2.dirty || password2.touched) && comparePasswords()" class="alert alert-danger">
        {{lang.lang.pwd_not_coinside}}
    </div>
  </div>
  <hr>
  <div class="form-group">
    <button class="form-control btn btn-default" [disabled]="form.invalid || comparePasswords()" type="submit" >{{lang.lang.submit}}</button>
  </div>
  <div class="form-group">
    <re-captcha (resolved)="$event && submit($event)" [siteKey]="shared.recaptchasitekey" #captchaRef="reCaptcha" size="invisible" badge="inline"></re-captcha>
  </div>
</form>
<div *ngIf="done" class="done">
  <p>{{lang.lang.sign_up_done}}</p>
</div>
