label {
  color: #808080;
}
@media (max-width: 767px) {
  .inline-only {
    display: none;
  }
}

.btn-vk {
  width: 70px;
  height: 70px;
  border: 0;
  border-radius: 35px;
  font-size: 30px;
  color: white;
  background-color: #7897bb;
}
.btn-google {
  width: 70px;
  height: 70px;
  border: 0;
  border-radius: 35px;
  font-size: 30px;
  color: white;
  background-color: #ff7070;
}

.form-group.sn button {
  margin: 0 5px;
}
