<div class="modal-header">
  <h4 class="modal-title pull-left">{{lang.lang.authorization}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="log_in_form" (ngSubmit)="captchaRef.execute()">
    <div class="form-group">
      <input class="form-control" formControlName="username" type="text" [placeholder]="lang.lang.uname_or_email">
    </div>
    <div class="form-group">
      <input class="form-control" formControlName="password" type="password" [placeholder]="lang.lang.pwd">
    </div>

    <div style="display: none" *ngIf='openCaptcha'>
      <re-captcha (resolved)="$event && submit($event)" [siteKey]="shared.recaptchasitekey" #captchaRef="reCaptcha" size="invisible" badge="inline"></re-captcha>
    </div>
    <div class="form-group">
      <button class="btn btn-default form-control" type="submit" [disabled]="log_in_form.invalid">{{lang.lang.log_in}}</button>
    </div>
  </form>
  <div class="form-group" *ngIf='auth_alert'>
    <alert  type="danger">{{auth_alert}}</alert>
  </div>
  <div class="form-group">
    <a role="button" (click)="forgotPwd()">{{lang.lang.forgot_pwd}}</a>
  </div>
  <div class="form-group">
    <button type="button" (click)="remember=!remember" class="btn btn-default form-control" [class.btn-primary]="remember">
      <ng-container *ngIf="remember">
        <i class="fa fa-check-square" aria-hidden="true"></i>
      </ng-container>
      <ng-container *ngIf="!remember">
        <i class="fa fa-square-o" aria-hidden="true"></i>
      </ng-container>
      <span>{{lang.lang.remember_me}}</span>
    </button>
  </div>
  <div class="form-group">
    <p>{{lang.lang.sign_up_with}}</p>
  </div>
  <div class="form-group sn">
    <button type="button" class="btn-vk" (click)="vkAuth()"><i class="fa fa-vk" aria-hidden="true"></i></button>
    <button type="button" class="btn-google" (click)="googleAuth()"><i class="fa fa-google-plus" aria-hidden="true"></i></button>
  </div>
</div>
