<ng-container *ngIf="users">
  <div class="wrapper">
    <ul class="users">
      <ng-container *ngFor="let user of users; index as i">
        <li [@fancyList]="i">
            <a [routerLink]="['/profile', user.username]">
              <table class="user">
                <tr>
                  <td class="userpic"><img [src]="upic(user)" width="48px" height="48px"></td>
                  <td class="username"><p style="margin: 0; max-width: 10px">{{user.username}}</p></td>
                  <td class="userrating">{{user.rating}}</td>
                </tr>
              </table>
            </a>
        </li>
      </ng-container>
    </ul>

    <ul class="pager" style="min-height: 32px" *ngIf="ready" [@fadeScale]="true">
      <li><a role="button" (click)="showAbout()">{{lang.lang.about}}</a></li>
    </ul>

  </div>
</ng-container>
