.userpic {
  width: 50px;
  height: 50px;
}
.users {
  list-style: none;
  padding: 0;
}
.user {
  background-color: #6d6d6d;
  overflow: hidden;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 15px;
  transition: background-color 0.2s;
  border: 3px solid #6d6d6d;
  color: white;
}
.users .userrating {
  background-color: #4db1d1;
  color: white;
  font-size: 20px;
  width: 80px;
  text-align: center;
}
.username {
  font-size: 16px;
  padding-left: 5px;
  overflow: hidden;
}
.wrapper {
  margin: 0 auto;
  max-width: 760px;
}
.users a {
  color: black;
}
.users a:hover {
  text-decoration: none;
}
.user:hover {
  background-color: #a5a5a5;
}
* {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
