<form [formGroup] = 'form' (ngSubmit)='submit()' class='form-group'>
  <div class="form-group">
    <textarea formControlName='comment' type="text" rows="8" class="form-control comment-area"></textarea>
    <div *ngIf="comment.invalid && comment.errors.maxlength" class="alert alert-danger">
      {{lang.lang.comm_exceed}}
    </div>
  </div>
  <div class="comment-buttons">
    <button type="submit" class="btn btn-default" [disabled]="form.invalid">{{lang.lang.comment}}</button>
    <button type="button" (click)="attachment_form = !attachment_form" class="btn btn-default"><span class="glyphicon glyphicon-paperclip"></span></button>
  </div>

</form>

<app-attachment-form *ngIf="attachment_form" maxAtts='5' [autoOpen]="true"></app-attachment-form>

<ng-container *ngIf="attSrv.attachments">
  <ng-container *ngFor="let attachment of attSrv.attachments; index as i">
    <div class="att-container" (dragstart)="onDragStart($event, i)" (drop)="onDrop($event, i)" (dragover)="onDragOver($event)" draggable="true" [@fade]="true">
      <button class="delete-button" (click)="attSrv.delete(i)"><span class="glyphicon glyphicon-remove"></span></button>
      <app-attachment [attachment]="attachment" min_height="50px"></app-attachment>
    </div>
  </ng-container>
</ng-container>
