.att-container {
  display: inline-block;
  width: 196px;
  padding-top: 31px;
  overflow: hidden;
  background-color: #5881a2;
  border-radius: 5px;
  position: relative;
  vertical-align: top;
}
.delete-button {
  background: none;
  border: 0;
  border-radius: 2px;
  color: white;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 24px;
  height: 22px;
  line-height: normal;
  padding: 0px 2px;
  font-size: 20px;
}
.comment-area {
  resize: none;
}
.comment-buttons {
  margin: 5px 0;
}
