<router-outlet></router-outlet>
<div class="wrapper">
  <ul class="pager">
    <li><a role="button" (click)="fetchComplaints()">{{lang.lang.reload_comp}}</a></li>
  </ul>
  <ng-container *ngIf="complaints">
    <ng-container *ngFor="let complaint of complaints">
      <div class="panel border-shadow">
        <div class="panel-body">
          <p><span class="complaint-label"><ng-container *ngIf='complaint.comment'>{{lang.lang.comp_to_comm}}: </ng-container><ng-container *ngIf='!complaint.comment'>{{lang.lang.comp_to_post}}: </ng-container></span>{{complaint.title}}</p>
          <p><span class="complaint-label">{{lang.lang.from}}: </span><ng-container *ngFor="let user of complaint.users.split(',')"><a [routerLink]="['/profile', user]">{{user}} </a></ng-container></p>
          <p><span class="complaint-label">{{lang.lang.reason}}: </span><ng-container *ngFor="let reason of complaint.reasons.split(',')"><span>{{lang.lang[reason]}} </span></ng-container></p>
          <hr>
          <a class="btn btn-default" [routerLink]="['./post', complaint.post, {comment: complaint.comment}]">{{lang.lang.to_post}}</a>
          <button class="btn btn-default" (click)="deleteComplaint(complaint)">{{lang.lang.delete}}</button>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>
