.tag {
  font-size: 20px;
  margin-right: 2px;
  margin-bottom: 4px;
  display: inline-block;
}
.tag .label:hover {
  cursor: pointer;
}
.nav.nav-tabs {
  border-bottom: 0;
}
.listed-user {
  border-radius: 4px;
  display: inline-block;
  overflow: hidden;
  height: 40px;
  color: white;
  background-color: #353536;
  border: 1px solid #353536;
  line-height: 39px;
}
.listed-user>div {
  display: inline-block;
}
.listed-user img {
  width: 40px;
  height: 40px;
}
.listed-user .name {
  min-width: 150px;
  height: 40px;
}
.listed-user .name.ign {
  min-width: 100px;
  padding-left: 10px;
}
.listed-user .name a {
  color: white;
}
.listed-user .name a:hover {
 text-decoration: none;
}
.listed-user .delete {
  width: 30px;
  height: 40px;
  text-align: center;
}
.listed-user .delete:hover {
  cursor: pointer;
  color: black;
  background-color: white;
}
.empty-field {
  line-height: 100px;
  color: #8b8b8b;
  text-align: center;
}
.wrapper1 {
  max-width: 300px;
  margin: 0 auto;
}
.centred-text {
  text-align: center;
}
