<ul class="nav nav-pills">
  <li role="presentation" [class.active]='isSubsOpened' (click)='openSubscriptions()'><a role="button"><span class="glyphicon glyphicon-heart"></span> {{lang.lang.subscriptions}}</a></li>
  <li role="presentation" [class.active]='isDisSetOpened' (click)='openDisplaySettings()'><a role="button"><span class="glyphicon glyphicon-cog"></span> {{lang.lang.display_opts}}</a></li>
  <li role="presentation" [class.active]='isTagOpened' (click)='openTagSettings()'><a role="button"><span class="glyphicon glyphicon-tags"></span> {{lang.lang.blocked_tags}}</a></li>
  <li role="presentation" [class.active]='isIgnoredOpened' (click)='openIgnored()'><a role="button"><span class="glyphicon glyphicon-trash"></span> {{lang.lang.ignored_users}}</a></li>
  <li role="presentation" [class.active]='isSecurityOpened' (click)='openSecurity()'><a role="button"><span class="glyphicon glyphicon-lock"></span> {{lang.lang.security_sets}}</a></li>
</ul>


  <div class="panel-body" *ngIf="isDisSetOpened">
    <form class="form-horizontal">
      <div class="form-group">
        <label for="scrolling" class="col-sm-4 control-label">{{lang.lang.scrolling}}</label>
        <div class="col-sm-8">
          <select id="scrolling" class="form-control" [(ngModel)]="scrollType" name="scrolltype">
              <option value="infinite">{{lang.lang.infinite}}</option>
              <option value="pagination">{{lang.lang.pagination}}</option>
          </select>
        </div>
      </div>
      <div class="form-group" *ngIf="scrollType == 'pagination'">
        <label for="number_of_posts" class="col-sm-4 control-label">{{lang.lang.num_posts}}</label>
        <div class="col-sm-8">
          <div style="display: inline-block; width: 91%">
            <input type="range" min="10" max="30" id="number_of_posts" [(ngModel)]="numPosts" name="numposts">
          </div>
          <div style="display: inline-block; width: 7%; text-align: center">
            <h4>{{numPosts}}</h4>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="show_terror" class="col-sm-4 control-label">{{lang.lang.show_terror}}</label>
        <div class="col-sm-8">
          <input type="checkbox" [(ngModel)]="show_terror" name="show_terror" id="show_terror" style="width: 20px; height: 20px">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
          <button type="button" class="btn btn-primary" (click)="applySettings()">{{lang.lang.apply}}</button>
        </div>
      </div>
    </form>
  </div>



  <div class="panel-body" *ngIf="isTagOpened">
    <div *ngIf="!tags || tags.length == 0" class="empty-field">
      {{lang.lang.no_tags}}
    </div>
    <div *ngIf="tags && tags.length > 0" style="min-height: 100px">
      <ng-container *ngFor="let tag of tags">
        <div dropdown class="tag dropdown">
          <span dropdownToggle class="label label-default">{{tag}}</span>
          <ul *dropdownMenu class="dropdown-menu">
            <li><a role="button" (click)="unlockTag(tag)">{{lang.lang.unlock_tag}}</a></li>
          </ul>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="panel-body" *ngIf="isSubsOpened">
    <div *ngIf="!subscriptions || subscriptions.length == 0" class="empty-field">
      {{lang.lang.no_subs}}
    </div>
    <div *ngIf="subscriptions && subscriptions.length > 0" style="min-height: 100px">
      <ng-container *ngFor="let sub of subscriptions">
        <div class="listed-user">
          <div class="pic"><img [src]="sub.userpic ? '/userpics/' + sub.userpic + '.jpg' : '/userpics/default.jpg'"></div>
          <div class="name"><a [routerLink]="['/profile', sub.username]">{{sub.username}}</a></div>
          <div class="delete" (click)="deleteSubscription(sub.username)">x</div>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="panel-body" *ngIf="isIgnoredOpened">
    <div *ngIf="!ignored || ignored.length == 0" class="empty-field">
      {{lang.lang.no_ign}}
    </div>
    <div *ngIf="ignored && ignored.length > 0" style="min-height: 100px">
      <ng-container *ngFor="let ign of ignored">
        <div class="listed-user">
          <div class="name ign"><a [routerLink]="['/profile', ign.username]">{{ign.username}}</a></div>
          <div class="delete" (click)="deleteIgnored(ign.username)">x</div>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="panel-body centred-text" *ngIf="isSecurityOpened">
    <h4 for="">{{lang.lang.change_pwd}}</h4>
    <form *ngIf="change_password_form" [formGroup]="change_password_form" class="wrapper1" (ngSubmit)="changePassword()">
      <div class="form-group">
        <input formControlName="old_pwd" type="password" class="form-control" [placeholder]="lang.lang.old_pwd">
        <div *ngIf="old_pwd.invalid && (old_pwd.dirty || old_pwd.touched)" class="alert alert-danger">
            <div *ngIf="old_pwd.errors.required">
              {{lang.lang.pwd_required}}
            </div>
            <div *ngIf="old_pwd.errors.minlength">
              {{lang.lang.pwd_min_err}}
            </div>
            <div *ngIf="old_pwd.errors.maxlength">
              {{lang.lang.pwd_max_err}}
            </div>
        </div>
      </div>
      <div class="form-group">
        <input formControlName="new_pwd" type="password" class="form-control" [placeholder]="lang.lang.new_pwd">
        <div *ngIf="new_pwd.invalid && (new_pwd.dirty || new_pwd.touched)" class="alert alert-danger">
            <div *ngIf="new_pwd.errors.required">
              {{lang.lang.pwd_required}}
            </div>
            <div *ngIf="new_pwd.errors.minlength">
              {{lang.lang.pwd_min_err}}
            </div>
            <div *ngIf="new_pwd.errors.maxlength">
              {{lang.lang.pwd_max_err}}
            </div>
        </div>
      </div>
      <div class="form-group">
        <input formControlName="new_pwd2" type="password" class="form-control" [placeholder]="lang.lang.confirm_pwd">
          <div *ngIf="(new_pwd2.dirty || new_pwd2.touched) && comparePasswords()" class="alert alert-danger">
            {{lang.lang.pwd_not_coinside}}
          </div>
      </div>
      <div class="form-group">
        <button class="btn btn-default" type="submit" [disabled]='change_password_form.invalid || comparePasswords()'>{{lang.lang.submit}}</button>
      </div>
    </form>
    <ng-container *ngIf="alert">
      <alert [type]="alert.type">{{alert.msg}}</alert>
    </ng-container>
    <hr>
    <div class="wrapper1">
      <h4 for="">{{lang.lang.active_sessions}} {{active_sessions}}</h4>
      <button class="btn btn-default" (click)='session.logOut(true)'>{{lang.lang.log_out_evr}}</button>
    </div>
  </div>
