<div class="modal-header">
  <!-- <h1 class="modal-title">Link4Friend</h1>
  <h4>*ссылка для друга</h4> -->
  <h1 class="modal-title">Demo</h1>
</div>
<div class="modal-body" style="font-size: 20px">
  <p>{{lang.lang.l4f_desc1}}</p>
  <!-- <img src="assets/if-you-know-what-i-mean.svg" height="180px" style="margin: auto; display: block">
  <p>{{lang.lang.l4f_desc2}}</p>
  <p>{{lang.lang.l4f_desc3}} <a href="https://t.me/link4friend" target="_blank">t.me/link4friend</a> <i class="fa fa-telegram" aria-hidden="true"></i></p>
  <p>{{lang.lang.l4f_desc4}}</p> -->
</div>
<div class="modal-footer">
  <button class="btn btn-primary" (click)="modalRef.hide()">OK</button>
</div>
