<ng-container *ngIf="!isBusy && (!attSrv.attachments || attSrv.attachments.length != maxAtts)">
  <ul class="nav nav-tabs">
    <li role="presentation" [class.active]='!isUplPicCollapsed' (click)='collapse("pic")'><a role="button"><span class="glyphicon glyphicon-picture"></span> {{lang.lang.upl_pic}}</a></li>
    <li role="presentation" [class.active]='!isEmbedCollapsed' (click)='collapse("vid")'><a role="button"><span class="glyphicon glyphicon-film"></span> {{lang.lang.emb_vid}}</a></li>
  </ul>

  <div [collapse]="isUplPicCollapsed" class="panel panel-default">
    <div class="panel-body">
      <div>
        <label class="upload-field">
          <div class="dropzone" (dropFiles) = 'fileDrop($event)'>
            <p style="margin: 0">{{lang.lang.drag_here}}</p>
          </div>
          <input type="file" #file multiple (change)="fileOpen(file)" style="display: none">
        </label>
      </div>
    </div>
  </div>

  <div [collapse]="isEmbedCollapsed" class="panel panel-default">
    <div class="panel-body">
      <table style="width: 100%">
        <tr>
          <td>
            <input class="form-control" type="text" [placeholder]="lang.lang.paste_link" [(ngModel)]='embed_link' (keyup)="checkEmbed()">
          </td>
          <td style="width: 40px; position: relative">
            <button style="float: right" type="button" class="btn btn-default" [popoverTitle]="lang.lang.embed_hint" popover="YouTube, Vimeo, Coub, Gfycat" placement="left"><i class="fa fa-info" aria-hidden="true"></i></button>
            <!-- <button style="float: right" type="button" class="btn btn-default" [popoverTitle]="lang.lang.embed_hint" popover="YouTube, Vimeo, Coub, PornHub, RedTube, YouPorn, Tube8, XTube, SpankWire, KeezMovies, Gfycat" placement="left"><i class="fa fa-info" aria-hidden="true"></i></button> -->
          </td>
        </tr>
      </table>
    </div>
  </div>
</ng-container>
<ul class="pager" *ngIf="isBusy">
  <li ><a><i class="fa fa-circle-o-notch fa-spin"></i></a></li>
</ul>
