.dropzone {
  width: 100%;
  border: 2px dashed #ccc;
  color: #ccc;
  padding: 50px 10px;
  text-align: center;
  overflow: hidden;
}
.dropzone.dragged {
  color: black;
  border: 2px dashed black;
}
.upload-field {
  display: block;
}
.nav.nav-tabs {
  border-bottom: 0;
}
