<form *ngIf="!done" [formGroup]="form" (ngSubmit)="submit()">
  <div class="form-group">
    <input type="text" formControlName="username" class="form-control" [placeholder]="lang.lang.choose_nick">
    <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
        <div *ngIf="username.errors.required">
          {{lang.lang.uname_required}}
        </div>
        <div *ngIf="username.errors.minlength">
          {{lang.lang.uname_min_err}}
        </div>
        <div *ngIf="username.errors.pattern">
          {{lang.lang.uname_invalid}}
        </div>
        <div *ngIf="username.errors.maxlength">
          {{lang.lang.uname_max_err}}
        </div>
        <div *ngIf="username.errors.usernameTaken">
          {{lang.lang.uname_exist}}
        </div>
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="form-control btn btn-default" [disabled]="form.invalid">{{lang.lang.submit}}</button>
  </div>
</form>
<div *ngIf="done" class="done">
  <p *ngIf="!already_registered">{{lang.lang.vk_done}}</p>
  <p *ngIf="already_registered">{{lang.lang.vk_already_reg}}</p>
</div>
