.content-attachment {
  width: 100%;
  position: relative;
}
.wait-for-loaded {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -30px;
  margin-top: -30px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 30px;
  padding: 10px;
}
.gif-label {
  position: absolute;
  left: 50%;
  width: 100px;
  height: 30px;
  margin-left: -50px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  border-radius: 0 0 5px 5px;
  overflow: hidden;
}
.gif-label span {
  display: block;
  position: absolute;
  left: 50%;
  width: 40px;
  margin-left: -20px;
}
.gif-label .gif_spinner {
  position: absolute;
  left: 50%;
  width: 50px;
  height: 28px;
  margin-left: -25px;
  padding-top: 8px;
}
.gif-progress-bar {
  position: absolute;
  top: 0;
  height: 30px;
  background-color: rgba(0, 187, 255, 0.5);
}
.content-image {
  margin: 0 auto;
}
* {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
