<div #attachment_div class="content-attachment" [ngStyle]="{'min-height': min_height}">

    <div class="wait-for-loaded" *ngIf="!loaded">
      <img src="assets/oval.svg" width="40px" height="40px">
    </div>

    <ng-container *ngIf="attachment.type == 'jpg'">
      <img (load)="loaded = true" [src]="'/useruploads/' + attachment.src + '.jpg'" class="img-responsive" [class.content-image]="centered" (click)="openImg()">
    </ng-container>

    <ng-container *ngIf="attachment.type == 'gif'">
      <div *ngIf="!(gif_loaded && gif_on)" class="gif-label">
        <div *ngIf="gif_progress > 0 && gif_progress < 100" class="gif-progress-bar" [style.width]="gif_progress + '%'"></div>
        <span *ngIf="!gif_on">GIF</span>
        <div class="gif_spinner" *ngIf="gif_on && !gif_loaded"><img src="assets/three-dots.svg" class="img-responsive"></div>
      </div>
      <img (load)="loaded = true" [src]="'/useruploads/' + attachment.src + ((gif_on && gif_loaded) ? '.gif' : '.jpg')" (click)="gifSwitch()" class="img-responsive" [class.content-image]="centered">
    </ng-container>

    <ng-container *ngIf="attachment.type != 'gif' && attachment.type != 'jpg'">
      <div class="embed-responsive embed-responsive-4by3">
        <iframe (load)="loaded = true" class="embed-responsive-item" [src]='attachment.embed_src' allowfullscreen scrolling=no></iframe>
      </div>
    </ng-container>

</div>
