.content-fullpost {
  min-height: 100%;
  background-color: white;
  padding-bottom: 25px;
}
.post-content {
  width: 100%;
  background-color: #303c40;
}
.post-image {
  margin: auto;
}
.post-header {
  padding: 10px 0;
  word-break: break-all;
}
.post-title {
  margin-top: 0;
}
.post-tags {
  margin-bottom: 0;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}
.post-functions {
  padding: 10px 0;
}
.att-wrapper {
  max-width: 760px;
  margin: 0 auto;
  position: relative;
  background-color: #ffffff;
}
.post-tags {
  font-size: 20px;
}
.tag {
  margin-right: 2px;
  margin-bottom: 4px;
  display: inline-block;
}
.tag .label:hover {
  cursor: pointer;
}
.complain {
  float: right;
  margin: 5px;
}
.sort-mode {
  float: left;
  margin: 5px;
}
.complain-btn {
  background: 0;
  border: 0;
  color: #8b8b8b;
}
.edit:hover {
  cursor: pointer;
}
.delete_button {
  position: absolute;
  right: 0px;
  top: 0px;
  border: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  z-index: 100500
}
.separator {
  margin: 0;
  padding: 1px 20px;
}
.wait-for-loaded {
  height: 30px;
  display: block;
  margin: 45vh auto 0 auto;
}
