  <div *ngIf="post" class="content-fullpost" [@fade]="true">
    <div class="wrapper">
      <div class="post-header">
        <h2 class="post-title">{{post.title}} <span *ngIf="session.session && session.session.status === 'admin'" class="edit" (click)="editTitleOpen = true"><i class="fa fa-pencil" aria-hidden="true"></i></span></h2>
        <app-edit *ngIf="editTitleOpen === true" [title]="lang.lang.edit_title" [value]="post.title" (action)="editTitle($event)"></app-edit>
        <ng-container *ngIf="post.description">
          <ng-container *ngFor="let paragraph of post.description.split('\n')">
            <p *ngIf="paragraph" style="margin: 0">{{paragraph}}</p>
          </ng-container>
        </ng-container>
        <span *ngIf="session.session && session.session.status === 'admin' " class="edit" (click)="editDescriprionOpen = true"><i class="fa fa-pencil" aria-hidden="true"></i></span>

        <app-edit *ngIf="editDescriprionOpen === true" [title]="lang.lang.edit_desc" [value]="post.description" (action)="editDescription($event)"></app-edit>
        <h4><a [routerLink]="['/profile', post.author]">{{lang.lang.author}} {{post.author}}</a></h4>
        <p class="post-tags">
          <ng-container *ngIf="post.tags">
            <ng-container *ngFor="let tag of post.tags.split(',')">
              <div dropdown class="tag dropdown">
                <span dropdownToggle class="label label-default">{{tag}}</span>
                <ul *dropdownMenu class="dropdown-menu">
                  <li *ngIf="session.session"><a role="button" (click)="shared.blockTag(tag)">{{lang.lang.block_tag}}</a></li>
                  <li><a role="button" [routerLink]="['/search', {search: tag, type: 'tags'}]">{{lang.lang.search_posts}}</a></li>
                  <li *ngIf="session.session && (session.session.status === 'admin' || session.session.username === post.author)"><a role="button" (click)="deleteTag(tag)">{{lang.lang.del_tag}}</a></li>
                </ul>
              </div>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="session.session && (session.session.status === 'admin' || session.session.username === post.author) && (!post.tags || post.tags.split(',').length < 10)">
            <div class="tag" (click)='addTagOpen = true'><span class="label label-default"><span style="font-size: 12px" class="glyphicon glyphicon-plus"></span></span></div>
          </ng-container>
        </p>
        <app-edit *ngIf="addTagOpen === true" [title]="lang.lang.add_tag" value='' (action)="addTag($event)"></app-edit>
        <div *ngIf="session.session && session.session.status === 'admin'">
          <input type="checkbox" [(ngModel)]="post.hr" class="checkbox20" id="hr"><label for="hr">{{lang.lang.divide_images}}</label>
          <input type="checkbox" [(ngModel)]="post.terror" class="checkbox20" id="terror"><label for="terror">{{lang.lang.terror}}</label>
          <input type="checkbox" [(ngModel)]="post.auth_only" class="checkbox20" id="auth_only"><label for="auth_only">{{lang.lang.auth_only}}</label>
          <button class="btn btn-primary" (click)="changePostAttributes()">{{lang.lang.apply}}</button>
        </div>
      </div>
    </div>

    <div class="post-content">
      <ng-container *ngIf="post.attachments_arr">
        <ng-container *ngFor="let attachment of post.attachments_arr; last as last">

            <div class="att-wrapper">
              <button *ngIf="session.session && session.session.status == 'admin'" class="delete_button" (click)="deleteAttachment(attachment.src, attachment.type)"><span class="glyphicon glyphicon-remove"></span></button>
              <app-attachment [attachment]="attachment"></app-attachment>
              <div *ngIf="post.hr && !last" class="separator">
                <hr>
              </div>
            </div>

        </ng-container>
      </ng-container>
    </div>

    <div class="post-functions">
      <div class="wrapper">
        <div class="btn-group btn-group-justified post-panel">
          <div class="btn-group">
            <button class="btn btn-default" (click)="goBack()"><span class="glyphicon glyphicon-arrow-left"></span></button>
          </div>
          <div class="btn-group">
            <button class="btn btn-default" [class.btn-success]='post.currentuserrate === true' (click)='vote(true)' [disabled]="!session.session"><span class="glyphicon glyphicon-chevron-up"></span> {{post.ratingup}}</button>
          </div>
          <div class="btn-group">
            <button class="btn btn-default" [class.btn-warning]='post.currentuserrate === false' (click)='vote(false)' [disabled]="!session.session"><span class="glyphicon glyphicon-chevron-down"></span> {{post.ratingdown}}</button>
          </div>
          <div class="btn-group">
            <button class="btn btn-default" [class.btn-primary]='post.currentusersaved === true' (click)='addToFav()' [disabled]="!session.session"><span class="glyphicon glyphicon-star"></span> {{post.saved}}</button>
          </div>
          <div class="btn-group">
            <button class="btn btn-default" [class.btn-primary]='isFormOpened' (click)='openCommentForm(0)' [disabled]="!session.session"><span class="glyphicon glyphicon-comment"></span> {{comments?.length}}</button>
          </div>
        </div>
        <ng-container *ngIf="session.session && session.session.status != 'admin'">
            <div class="complain" dropdown [dropup]="true">
              <button class="complain-btn" dropdownToggle>{{lang.lang.complain}}</button>
              <ul *dropdownMenu class="dropdown-menu dropdown-menu-right">
                <li><a role="button" (click)="shared.complain(post.id, 'post', 'offence')">{{lang.lang.offence}}</a></li>
                <!-- <li><a role="button" (click)="shared.complain(post.id, 'post', 'cp')">{{lang.lang.cp}}</a></li> -->
                <li><a role="button" (click)="shared.complain(post.id, 'post', 'spam')">{{lang.lang.spam}}</a></li>
                <li><a role="button" (click)="shared.complain(post.id, 'post', 'extremism')">{{lang.lang.extremism}}</a></li>
                <li><a role="button" (click)="shared.complain(post.id, 'post', 'flood')">{{lang.lang.flood}}</a></li>
                <!-- <li><a style="text-decoration: line-through">{{lang.lang.porn}}</a></li> -->
                <li><a role="button" (click)="shared.complain(post.id, 'post', 'other')">{{lang.lang.other}}</a></li>
              </ul>
            </div>
        </ng-container>
        <ng-container *ngIf="session.session && session.session.status === 'admin'">
          <div class="complain" dropdown [dropup]="true">
            <button class="complain-btn" dropdownToggle>{{lang.lang.delete | lowercase}}</button>
            <ul *dropdownMenu class="dropdown-menu dropdown-menu-right">
              <li><a role="button" (click)="shared.deletePost(post.id, true)">{{lang.lang.all_comments}}</a></li>
              <li><a role="button" (click)="shared.deletePost(post.id, false)">{{lang.lang.except_saved}}</a></li>
            </ul>
          </div>
        </ng-container>
        <ng-container *ngIf="comments">
          <div class="sort-mode dropdown" dropdown>
            <button class="complain-btn" dropdownToggle><i class="fa fa-sort" aria-hidden="true"></i> {{lang.lang['sort_' + comments_sort]}}</button>
            <ul *dropdownMenu class="dropdown-menu">
              <li><a role="button" (click)="sortComments('rating')">{{lang.lang.sort_rating}}</a></li>
              <li><a role="button" (click)="sortComments('old_first')">{{lang.lang.sort_old_first}}</a></li>
              <li><a role="button" (click)="sortComments('new_first')">{{lang.lang.sort_new_first}}</a></li>
            </ul>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="wrapper" *ngIf="isFormOpened" [@fade]="true">
      <app-comment-form  [reference]='0' [post_id]="post.id" (onComment)='isFormOpened = false'></app-comment-form>
    </div>

    <div class="comments" *ngIf="commentsOpen">
      <div class="wrapper">
        <app-recursive-comments [comment_reference]='0' [comments]="comments"></app-recursive-comments>
      </div>
    </div>
  </div>

  <img *ngIf="!post"  src="assets/three-dots.svg" class="wait-for-loaded">
