.success {
  background-color: white;
  border-radius: 5px;
  padding: 25px;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  font-size: 16px;
  text-align: center;
  color: #737373;
  padding: 50px 0;
}
