<ng-container *ngFor='let comment of comments; trackBy: trackByComments'>
   <ng-container *ngIf='comment_reference === comment.reference'>
      <table class="recursive-comments" [@fade]="true">
        <tr>
          <td colspan="2">
            <app-comment [comment]='comment'></app-comment>
          </td>
        </tr>
        <tr>
          <td class="indentation"></td>
          <td class="nested-comment-body">
            <app-recursive-comments [comment_reference]='comment.id' [comments]="comments"></app-recursive-comments>
          </td>
        </tr>
      </table>
   </ng-container>
</ng-container>
