<h4 class="sign-up-header">{{lang.lang.sign_up}}</h4>
<accordion class="sign-up-forms" [closeOthers]="true">
  <accordion-group [heading]="lang.lang.trad_registration" class="border-shadow" [isOpen]="!regtype">
    <app-trad-registration></app-trad-registration>
  </accordion-group>
  <accordion-group [heading]="lang.lang.vk" class="border-shadow" [isOpen]="regtype === 'vk'">
    <app-vk-registration></app-vk-registration>
  </accordion-group>
  <accordion-group [heading]="lang.lang.google" class="border-shadow" [isOpen]="regtype === 'google'">
    <app-google-registration></app-google-registration>
  </accordion-group>
</accordion>
