textarea {
  resize: none;
}
.wrapper {
  max-width: 760px;
  margin: 0 auto;
  position: relative;
}
.attachment-img {
  margin: 0 auto;
}
.sortbutton {
  border: 0;
  background: 0;
  margin: 0 auto;
  display: block;
}
[hidden] {
  display: none;
}
.main-att-btn {
  border: 0;
  background: 0;

}
.delete-btn {
  border: 0;
  background: 0;
}
.attachment {
  position: relative;
}
.attachment-controls {
  width: 100%;
  margin-bottom: 5px;
}
.attachment-control-left {
  text-align: left;
  width: 45%;
}
.attachment-control-center {
  width: 10%;
}
.attachment-control-right {
  text-align: right;
  width: 45%;
}
.tags {
  font-size: 20px;
}
.done {
  position: absolute;
  margin-top: 100px;
  color: #797979;
  font-size: 80px;
  text-align: center;
  width: 100%;
}
.create-post {
  position: absolute;
  width: 100%;
}
.restrictions-table {
  color: #545454;
  margin-bottom: 15px;
  margin-left: 5px;
}
.mylabel {
  vertical-align: bottom;
  padding-left: 10px;
}
