<div class="wrapper">
  <div *ngIf='!posted' [@fadeAndSlide]="true" class="create-post">
    <form [formGroup]="form" (ngSubmit)=post()>
      <div class="form-group">
        <input class="form-control" formControlName="title" type="text" [placeholder]="lang.lang.title_req2">
        <div *ngIf="title.invalid && (title.dirty || title.touched)" class="alert alert-danger">
            <div *ngIf="title.errors.required">
              {{lang.lang.title_required}}
            </div>
            <div *ngIf="title.errors.maxlength">
              {{lang.lang.title_exceed}}
            </div>
        </div>
      </div>
      <div class="form-group">
        <textarea class="form-control" formControlName="description" rows="8" cols="80" [placeholder]="lang.lang.desc"></textarea>
        <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert alert-danger">
          <div *ngIf="description.errors.maxlength">
            {{lang.lang.desc_exceed}}
          </div>
        </div>
      </div>
      <div class="form-group">
        <input type="text" formControlName="tags" class="form-control" [placeholder]="lang.lang.insert_tags" (change) = "checkTags()" (keyup) = "checkTags()">
      </div>

      <ng-container *ngIf="tags">
        <p class="tags">
          <ng-container *ngFor="let tag of tags">
            <span class="label label-default tag">{{tag}}</span>
          </ng-container>
        </p>
      </ng-container>
      <table class="restrictions-table">
        <tr>
          <td class="mycheckbox">
            <input type="checkbox" formControlName="hr" style="width: 20px; height: 20px" id="hr">
          </td>
          <td class="mylabel">
            <label for="id"> {{lang.lang.divide_images}}</label>
          </td>
        </tr>
        <tr>
          <td class="mycheckbox">
            <input type="checkbox" formControlName="terror" style="width: 20px; height: 20px" id="terror">
          </td>
          <td class="mylabel">
            <label for="terror"> {{lang.lang.terror}}</label>
          </td>
        </tr>
        <tr>
          <td class="mycheckbox">
            <input type="checkbox" formControlName="auth_only" style="width: 20px; height: 20px" id="auth_only">
          </td>
          <td class="mylabel">
            <label for="auth_only"> {{lang.lang.auth_only}}</label>
          </td>
        </tr>
      </table>

      <div class="form-group">
        <button class="btn btn-default" [disabled]='form.invalid || !attSrv.attachments' type="submit">{{lang.lang.post}}</button>
      </div>
    </form>

    <app-attachment-form maxAtts='10'></app-attachment-form>

    <ng-container *ngIf='attSrv.attachments'>
      <ul class="list-group">
        <ng-container *ngFor='let attachment of attSrv.attachments; index as i; trackBy: trackBySrc'>
          <li class="list-group-item attachment" [class.active]="i == attSrv.main_att" [@fade]="true">
            <table class="attachment-controls">
              <tr>
                <td class="attachment-control-left">
                  <button class="main-att-btn" (click)="attSrv.main_att = i"><span class="glyphicon glyphicon-ok"></span> {{lang.lang.preview}}</button>
                </td>
                <td class="attachment-control-center">
                  <button (click)="attSrv.sortUp(i)" class="sortbutton" [hidden]="i == 0"><span class="glyphicon glyphicon-chevron-up"></span></button>
                </td>
                <td class="attachment-control-right">
                  <button class="delete-btn" (click)="attSrv.delete(i)">{{lang.lang.delete}} <span class="glyphicon glyphicon-remove"></span></button>
                </td>
              </tr>
            </table>
            <app-attachment [attachment]="attachment"></app-attachment>

            <button (click)='attSrv.sortDown(i)' class="sortbutton" [hidden]="i == attSrv.attachments.length - 1"><span class="glyphicon glyphicon-chevron-down"></span></button>
          </li>
        </ng-container>
      </ul>
    </ng-container>
  </div>
  <div *ngIf='posted' class="done" [@slideFromTop]="true">
    {{lang.lang.success}}!😉
  </div>
</div>
