
  <div class="wrapper" #postsWrapper>
    <div [@slideFromTop]="true" class="empty_message" *ngIf="!posts && !isFetchPostsProcessing">
      <p>{{ifEmpty}}</p>
    </div>
    <ng-container *ngIf="posts">
      <ng-container *ngFor="let post of posts; index as i; trackBy: trackByPosts">
          <article class="post border-shadow" [@fadeAndSlide]='true'>
            <div class="post-header">
              <h4 style="word-break: break-all; margin: 0 0 5px 0" class="clickable" [routerLink]="['./post', post.id]">
                <span>{{post.title}}</span>
              </h4>
              <div style="word-break: break-all; margin-bottom: 5px" class="clickable" *ngIf="post.description" [routerLink]="['./post', post.id]">
                <ng-container *ngFor="let paragraph of post.description.split('\n')">
                  <p *ngIf="paragraph" style="margin: 0">{{paragraph}}</p>
                </ng-container>
              </div>
              <div class="post-tags" *ngIf="post.tags">
                  <ng-container *ngFor="let tag of post.tags.split(',')">
                    <div dropdown class="tag dropdown clickable">
                      <span dropdownToggle class="label dropdown-toggle">{{tag}}</span>
                      <ul *dropdownMenu class="dropdown-menu">
                        <li *ngIf="session.session"><a role="button" (click)="shared.blockTag(tag)">{{lang.lang.block_tag}}</a></li>
                        <li><a role="button" [routerLink]="['/search', {search: tag, type: 'tags'}]">{{lang.lang.search_posts}}</a></li>
                      </ul>
                    </div>
                  </ng-container>
              </div>
              <div style="font-size: 15px; word-break: break-all; overflow: hidden">
                <a class="author" [routerLink]="['/profile', post.author]">{{lang.lang.author}} {{post.author}}</a>
                <span *ngIf="post.pics + post.vids > 1" style="float: right" [routerLink]="['./post', post.id]" class="clickable">
                  <span *ngIf="post.vids"> {{post.vids}} <i class="fa fa-video-camera" aria-hidden="true"></i> </span>
                  <span *ngIf="post.pics"> {{post.pics}} <i class="fa fa-picture-o" aria-hidden="true"></i> </span>
                </span>
              </div>
            </div>

            <app-attachment *ngIf="post.attachments_arr" [attachment]="post.attachments_arr[post.main_att]"></app-attachment>

            <div class="btn-group btn-group-justified post-panel">
              <div class="btn-group">
                <button class="btn btn-default" [class.btn-success]='post.currentuserrate === true' (click)='vote(post.id, true)' [disabled]="!session.session"><span class="glyphicon glyphicon-chevron-up"></span> {{post.ratingup}}</button>
              </div>
              <div class="btn-group">
                <button class="btn btn-default" [class.btn-warning]='post.currentuserrate === false' (click)='vote(post.id, false)' [disabled]="!session.session"><span class="glyphicon glyphicon-chevron-down"></span> {{post.ratingdown}}</button>
              </div>
              <div class="btn-group">
                <button class="btn btn-default" [class.btn-primary]='post.currentusersaved === true' (click)='addToFav(post.id)' [disabled]="!session.session"><span class="glyphicon glyphicon-star"></span> {{post.saved}}</button>
              </div>
              <div class="btn-group">
                <a class="btn btn-default" [routerLink]="['./post', post.id]"><span class="glyphicon glyphicon-comment"></span> {{post.comments}}</a>
              </div>
            </div>
          </article>

      </ng-container>
    </ng-container>
    <ul class="pager" style="min-height: 32px">
      <li *ngIf="!isFetchPostsProcessing && session.session && session.session.scrolltype === 'pagination'"><a role="button" (click)="startPage()">{{lang.lang.to_begin}}</a></li>
      <li *ngIf="posts && !isFetchPostsProcessing && session.session && session.session.scrolltype === 'pagination'"><a role="button" (click)="nextPage()">{{lang.lang.next}}</a></li>
      <li *ngIf="isFetchPostsProcessing"><a><i class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i></a></li>
    </ul>
  </div>
