.wrapper {
  max-width: 760px;
  margin: auto;
}
.post {
  background-color: #ffffff;
  border-radius: 4px;
  overflow: hidden;
  margin: 0 0 20px 0;
}
.post-panel {
  padding: 10px;
}
.post-header {
  background-color: #5d6569;
  width: 100%;
  color:  white;
  padding: 10px;
}
.tag {
  margin-right: 2px;
  margin-bottom: 4px;
  display: inline-block;
}
.tag .label {
  color: #545353;
  background-color: white;
}
.tag .dropdown-menu {
  color: black;
}
.post-tags {
  font-size: 20px;
  margin-bottom: 5px;
}
.author {
  color: white;
}
