<router-outlet></router-outlet>
<ul *ngIf="session.message_counter > 0" class="pager">
  <li><a role="button" (click)="refresh(); session.messCounterReset()">{{lang.lang.new_messages}}: {{session.message_counter}}</a></li>
</ul>
<app-comments commentsType="messages" [ifEmpty]="lang.lang.no_messages"></app-comments>
