<div class="wrapper404">
  <h2 [@slideSeparately]='1'><span style="font-size: 100px; margin-bottom: 0" class="glyphicon glyphicon-sunglasses"></span></h2>
  <h2 [@slideSeparately]='2' style="font-size: 82px; font-weight: bolder; margin-top: 0">404</h2>
  <h2 [@slideSeparately]='3' style="font-size: 82px; margin-top: 0">PAGE</h2>
  <h2 [@slideSeparately]='4' style="font-size: 46px; margin-top: 0">NOT</h2>
  <h2 [@slideSeparately]='5' style="font-size: 82px; margin-top: 0">FOUND</h2>
</div>
