
.wrapper404 {
  max-width: 760px;
  margin: 0 auto;
  color: #848484;
  text-align: center;
  font-family: 'Lato', sans-serif;
}
.wrapper404 h2 {
  font-weight: bold;
}
* {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
