.wrapper {
  max-width: 760px;
  margin: 0 auto;
}
.username {
  margin-top: 0;
}
.edit {
  font-size: 20px;
}
.edit:hover {
  cursor: pointer;
}
.upic-options {
  position: absolute;
  bottom: 20px;
  left: 50%;
  width: 170px;
  margin-left: -85px;
}
.userpic {
  position: relative;
  min-width: 200px;
}
.admin-panel {
  max-width: 300px;
  margin: 0 auto;
}
.user-numbers {
  font-size: 25px;
  text-align: center;
}
.number-labels {
  text-align: center;
  margin-bottom: 10px;
}
.user-ratings {
  width: 100%;
  table-layout: fixed;
  margin-bottom: 10px;
}
