<router-outlet></router-outlet>
<ng-container *ngIf="user">
  <div class="wrapper" [@slideFromTop]='true'>
    <div class="panel border-shadow">
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-4">

            <div class="thumbnail userpic" (click)="upic_options = !upic_options" (dropFiles)="changeUserpic($event)">
              <div class="upic-options" *ngIf="session.session && user.username == session.session.username && upic_options">
                <div class="btn-group btn-group-justified">
                  <div class="btn-group">
                    <label class="btn btn-primary" (click)="onClickChangeButton($event)">{{lang.lang.change}}<input type="file" id="file-input" style="display: none" #file (change)="changeUserpic(file.files)"></label>
                  </div>
                  <div class="btn-group">
                    <button class="btn btn-primary" (click)="deleteUserpic($event)" [disabled]="!user.userpic">{{lang.lang.delete}}</button>
                  </div>
                </div>
              </div>
              <img [src]="upic" width="210px" height="210px">
            </div>

            <div *ngIf="session.session && user.username != session.session.username" class="btn-group btn-group-justified" style="margin-bottom: 10px">
              <div class="btn-group">
                <button class="btn btn-default" [class.btn-success]="user.currentusersubscribed !== true" (click)="subscribe()">
                  <ng-container *ngIf="user.currentusersubscribed === true"><span  class="glyphicon glyphicon-check"></span> {{lang.lang.subscribed}}</ng-container>
                  <ng-container *ngIf="!user.currentusersubscribed">{{lang.lang.subscribe}}</ng-container>
                </button>
              </div>
              <div class="btn-group">
                <button class="btn btn-default" [class.btn-warning]="user.currentuserignored !== true" (click)="ignore()">
                  <ng-container *ngIf="user.currentuserignored === true"><span  class="glyphicon glyphicon-check"></span> {{lang.lang.ignored}}</ng-container>
                  <ng-container *ngIf="!user.currentuserignored">{{lang.lang.ignore}}</ng-container>
                </button>
              </div>
            </div>

          </div>



          <div class="col-sm-8" style="word-wrap: break-all">
            <h2 class="username">{{user.username}}</h2>
            <p *ngIf="!isEditOpen">{{user.description}} <span *ngIf="session.session && user.username == session.session.username" class="edit" (click)="editDescription()"><i class="fa fa-pencil" aria-hidden="true"></i></span></p>
            <ng-container *ngIf="isEditOpen">
              <input type="text" class="form-control" [(ngModel)]="description" (blur)="changeDescription()" (keydown.enter)="changeDescription()" autofocus>
              <a role="button" (click)="changeDescription()">{{lang.lang.save}}</a> <span style="color: #909090; font-size: 12px">{{256 - description.length}} {{lang.lang.char_left}}</span>
            </ng-container>
            <p>{{lang.lang.reg_date}} {{user.registration | mydatetime: 'date'}}</p>
            <hr>
            <table class="user-ratings">
              <tr class="user-numbers">
                <td>{{user.rating}}</td>
                <td>{{user.subscribed}}</td>
              </tr>
              <tr class="number-labels">
                <td>{{lang.lang.rating}}</td>
                <td>{{lang.lang.subscribers}}</td>
              </tr>
              <tr class="user-numbers">
                <td>{{user.posts}}</td>
                <td>{{user.comments}}</td>
              </tr>
              <tr class="number-labels">
                <td>{{lang.lang.posts | lowercase}}</td>
                <td>{{lang.lang.comments | lowercase}}</td>
              </tr>
            </table>
            <ng-container *ngIf="user.warning">
              <hr>
              <alert type="warning"> {{user.warning}} </alert>
            </ng-container>
          </div>
        </div>
        <ng-container *ngIf="session.session && user.username === session.session.username">
          <hr>
          <app-profile-settings></app-profile-settings>
        </ng-container>


        <div *ngIf="session.session && session.session.status === 'admin'" class="admin-panel">
          <hr>
          <div class="form-group">
            <button class="btn btn-default form-control" [class.btn-primary]="user_comments" (click)="showUserComments()">{{lang.lang.show_u_comments}}</button>
          </div>
          <div class="form-group">
            <button class="btn btn-default form-control" (click)="deleteUserComplaints()">{{lang.lang.del_u_comp}}</button>
          </div>
          <div class="form-group">
            <button class="btn btn-warning form-control" (click)="warn_user = true">{{lang.lang.warn}}</button>
            <app-edit *ngIf="warn_user === true" [value]='user.warning' title="Warn user" (action)="warnUser($event)"></app-edit>
          </div>
          <div class="form-group" *ngIf="user.username != session.session.username">
            <button class="btn btn-danger form-control" (click)="banUser()" *ngIf="!user.banned">{{lang.lang.ban}}</button>
            <button class="btn btn-default form-control" (click)="unbanUser()" *ngIf="user.banned"><span class="glyphicon glyphicon-check"></span> {{lang.lang.banned}}</button>
          </div>
          <div class="form-group">
            <button type="button" (click)="shared.deleteAll(date.value, user.username)" class="btn btn-default form-control">{{lang.lang.del_u_content}}</button>
          </div>
          <div class="form-group">
            <input type="datetime-local" #date class="form-control">
          </div>
        </div>

      </div>
    </div>

  </div>
</ng-container>
<app-posts *ngIf='!user_comments && contentOpen' postsType="search" searchType="author" [searchWords]="user.username" [ifEmpty]="lang.lang.no_posts"></app-posts>
<app-comments *ngIf='user_comments && contentOpen' commentsType="usercomments" [userName]="user.username" [ifEmpty]="lang.lang.no_comments"></app-comments>
