<ng-template #modal>
  <div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>
  </div>
  <div class="modal-body">
    <textarea [(ngModel)]="text" rows="4" class="form-control" style="resize: none" autofocus></textarea>
  </div>
  <div class="modal-footer">
    <button (click)="onSubmit()" class="btn btn-primary">{{lang.lang.submit}}</button>
    <button (click)="onCancel()" class="btn btn-default">{{lang.lang.cancel}}</button>
  </div>
</ng-template>
