
.fullpost {
  position: fixed;
  display: block;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1030;
  background: #00000050;
}
@media (min-width: 768px) {

  .modal-350px {
    width: 350px !important;
  }
  .collapse.navbar-collapse {
    overflow-y: visible !important;
    overflow-x: visible !important;
    display: block !important;
    max-height: 50px !important;
  }
}
@media (max-width: 767px) {
  .collapse.navbar-collapse {
    max-height: 0px;
    overflow-y: auto !important;
    overflow-x: hidden !important;
    transition: max-height 0.3s ease-in-out;
    display: block !important;
  }
  .collapse.navbar-collapse.in {
    max-height: 80vh;
  }
}
.nav-link, .dropdown-toggle, .btn, .nav>li>a {
  transition: background-color 0.2s ease-in-out;
}
.modal.fade.in .modal-dialog.modal-fullpost {
  opacity: 1;
}
.modal.fade .modal-dialog.modal-fullpost {
  opacity: 0;
  transition: opacity 0.5s;
}
@media (min-width: 993px) and (max-width: 1300px) {
  .hidden-993-1300 {
    display: none !important;
  }
}
.empty_message {
  text-align: center;
  line-height: 100px;
  font-weight: bold;
  color: #808080;
}
article.post .content-attachment {
  border-bottom: 1px solid #eaeaea;
}
article.post .btn {
  border: 0;
}
.btn-group .btn-group:not(:first-child) .btn {
  border-left: 0;
}
.modal-picture {
  width: 95vw;
}
.modal-picture .modal-content {
  border: 0;
  box-shadow: none;
  background: none;
}
.modal-picture img {
  margin: 0 auto;
}
/*range slider styles*/
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 7.3px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 11.4px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: rgba(230, 230, 230, 0.78);
  border-radius: 23px;
  border: 0.2px solid #c8c8c8;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000031, 0px 0px 0px #00004b;
  border: 1.4px solid #969696;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(243, 243, 243, 0.78);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 11.4px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: rgba(230, 230, 230, 0.78);
  border-radius: 23px;
  border: 0.2px solid #c8c8c8;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000031, 0px 0px 0px #00004b;
  border: 1.4px solid #969696;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 11.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: rgba(217, 217, 217, 0.78);
  border: 0.2px solid #c8c8c8;
  border-radius: 46px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: rgba(230, 230, 230, 0.78);
  border: 0.2px solid #c8c8c8;
  border-radius: 46px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000031, 0px 0px 0px #00004b;
  border: 1.4px solid #969696;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #ffffff;
  cursor: pointer;
  height: 11.4px;
}
input[type=range]:focus::-ms-fill-lower {
  background: rgba(230, 230, 230, 0.78);
}
input[type=range]:focus::-ms-fill-upper {
  background: rgba(243, 243, 243, 0.78);
}

/*styles*/
body {
  background-color: #fbfbfb;
}
.blocked-scroll {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}
.embed-responsive-item {
  background-color: black;
}
.grecaptcha-badge {
  margin: 0 auto;
}
.border-shadow {
  border: 0;
  box-shadow: 0px 0px 10px 1px #00000020;
  -webkit-box-shadow: 0px 0px 10px 1px #00000020;
}
.alert {
  margin-bottom: 0px;
}
.checkbox20 {
  width: 20px;
  height: 20px;
  position: relative;
  top: 5px;
  margin-right: 5px !important;
}
@import url('https://fonts.googleapis.com/css?family=Lato');
.clickable:hover {
  cursor: pointer;
}
