<router-outlet></router-outlet>
<div class="wrapper" [@slideFromTop]='true'>
  <form class="input-group" (ngSubmit)="submit()">
    <input class="form-control" [(ngModel)]="searchwords" name="search" type="text" [placeholder]="lang.lang.search">
    <div class="input-group-btn" dropdown>
        <button class="btn btn-default" type="submit" [disabled]="!searchwords"><i class="fa fa-search" aria-hidden="true"></i></button>
        <button class="btn btn-default dropdown-toggle" dropdownToggle type="button">{{lang.lang['by_'+searchtype]}} <span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right" style="min-width: 120px" *dropdownMenu role="menu">
          <li role="menuitem"><a class="dropdown-item"><label><input type="radio" name="type" [(ngModel)]="searchtype" value="title"> {{lang.lang.by_title}}</label></a></li>
          <li role="menuitem"><a class="dropdown-item"><label><input type="radio" name="type" [(ngModel)]="searchtype" value="tags"> {{lang.lang.by_tags}}</label></a></li>
          <li role="menuitem"><a class="dropdown-item"><label><input type="radio" name="type" [(ngModel)]="searchtype" value="author"> {{lang.lang.by_author}}</label></a></li>
        </ul>
    </div>
  </form>
</div>
<app-posts postsType="search" [searchType]="searchtype" [searchWords]="searchwords" *ngIf="posts_open"></app-posts>
