<div class="form-wrapper border-shadow">
  <h4 class="sign-up-header">{{lang.lang.create_new_pwd}}</h4>
  <hr>
  <form *ngIf="!done && !fail" [formGroup]="form" (ngSubmit)="captchaRef.execute()">

    <div class="form-group">
      <input formControlName="pwd" class="form-control" type="password" [placeholder]="lang.lang.pwd">
      <div *ngIf="pwd.invalid && (pwd.dirty || pwd.touched)" class="alert alert-danger">

          <div *ngIf="pwd.errors.required">
            {{lang.lang.pwd_required}}
          </div>
          <div *ngIf="pwd.errors.minlength">
            {{lang.lang.pwd_min_err}}
          </div>
          <div *ngIf="pwd.errors.maxlength">
            {{lang.lang.pwd_max_err}}
          </div>
      </div>
    </div>
    <div class="form-group">
      <input formControlName="pwd2" class="form-control" type="password" [placeholder]="lang.lang.confirm_pwd">
      <div *ngIf="(pwd2.dirty || pwd2.touched) && comparePasswords()" class="alert alert-danger">
          {{lang.lang.pwd_not_coinside}}
      </div>
    </div>
    <hr>
    <div class="form-group">
      <button class="form-control btn btn-default" [disabled]="form.invalid || comparePasswords()" type="submit" >{{lang.lang.submit}}</button>
    </div>
    <div style="display: none">
      <re-captcha (resolved)="$event && submit($event)" [siteKey]="shared.recaptchasitekey" #captchaRef="reCaptcha" size="invisible" badge="inline"></re-captcha>
    </div>
  </form>
  <div *ngIf="done" class="done">
    <p>{{lang.lang.success}}</p>
  </div>
  <div *ngIf="fail" class="done" style="color: red">{{lang.lang.smt_went_wrong}}</div>
</div>
