<div class="wrapper" #commentsWrapper>
  <div [@slideFromTop]="true" class="empty_message" *ngIf="!comments && !isFetchCommentsProcessing">
    <p>{{ifEmpty}}</p>
  </div>
  <ng-container *ngIf="comments">
    <ng-container *ngFor="let comment of comments; trackBy: trackByComments">
      <ng-container *ngIf="comment.sep_id">
        <div class="panel border-shadow" [@fadeAndSlide]='true'>
          <div class="panel-body list-group">
            <div class="list-group-item comment">
              <button *ngIf="commentsType === 'messages'" class="delete-button" (click)="deleteMessage(comment.sep_id)"><span class="glyphicon glyphicon-remove"></span></button>
              <app-comment [comment]="comment" separate="true"></app-comment>
            </div>
            <ng-container *ngIf="comment.mes_ref">
              <div class="list-group-item" *ngIf="index(comment.mes_ref) != -1">
                <h5>{{lang.lang.resp_to}}</h5>
                <app-comment [comment]="comments[index(comment.mes_ref)]" separate="true"></app-comment>
              </div>
            </ng-container>
            <div class="list-group-item" *ngIf="comment.post">
              <a role="button" class="btn btn-default" [routerLink]="['./post', comment.post, {comment: comment.id}]">{{lang.lang.to_post}}</a>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>

  <ul class="pager" style="min-height: 32px">
    <li *ngIf="!isFetchCommentsProcessing && session.session && session.session.scrolltype === 'pagination'"><a role="button" (click)="startPage()">{{lang.lang.to_begin}}</a></li>
    <li *ngIf="comments && !isFetchCommentsProcessing && session.session && session.session.scrolltype === 'pagination'"><a role="button" (click)="nextPage()">{{lang.lang.next}}</a></li>
    <li *ngIf="isFetchCommentsProcessing"><a><i class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i></a></li>
  </ul>
</div>
