.wrapper {
  max-width: 760px;
  margin: 0 auto;
}
.delete-button {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 0;
  font-size: 20px;
  border: 0;
  background: 0;
  width: 20px;
  height: 20px;
  z-index: 1;
  color: #7b7b7b;
}
.comment {
  position: relative;
}
