<table class="comment">
  <tr>
    <td class="userpic">
      <img [src]='upic' width="32" height="32">
    </td>
    <td class="comment-header">
      <p><strong><a [routerLink]="['/profile', comment.author]">{{comment.author}}</a></strong></p>
      <p><small>{{comment.date | mydatetime: 'datetime'}}</small></p>
    </td>
  </tr>
  <tr>
    <td class="comment-content" colspan="2">
      <ng-container *ngIf="comment.comment">
        <ng-container *ngFor="let paragraph of comment.comment.split('\n')">
          <p *ngIf="paragraph" style="margin: 0">{{paragraph}}</p>
        </ng-container>
      </ng-container>
      <alert *ngIf="comment.warning" type="warning">{{comment.warning}}</alert>
    </td>
  </tr>
  <tr>
    <td class="comment-content" colspan="2">
      <ng-container *ngIf="comment.attachments_arr">
        <ng-container *ngFor="let attachment of comment.attachments_arr">
            <div class="att-wrapper">
              <button *ngIf="session.session && session.session.status == 'admin' && !separate" class="delete_button" (click)="deleteAttachment(attachment.src, attachment.type)"><span class="glyphicon glyphicon-remove"></span></button>
              <app-attachment [attachment]="attachment" [centered]="false" [allow_modal]="true"></app-attachment>
            </div>

        </ng-container>
      </ng-container>
    </td>
  </tr>
  <tr>
    <td class="comment-detail" colspan="2">


          <button class="btn-only-sign" [class.clicked]='comment.currentuserrate === true' (click)='vote(true)' [disabled]="!session.session"><span class="glyphicon glyphicon-chevron-up"></span> {{comment.ratingup}}</button>
          <button class="btn-only-sign" [class.clicked]='comment.currentuserrate === false' (click)='vote(false)' [disabled]="!session.session"><span class="glyphicon glyphicon-chevron-down"></span> {{comment.ratingdown}}</button>
          <button class="btn-only-sign" [class.clicked]='comment.currentusersaved === true' (click)='addToFav()' [disabled]="!session.session"><span class="glyphicon glyphicon-star"></span> {{comment.saved}}</button>
          <ng-container *ngIf="session.session && !separate">
            <div class="complain" dropdown [dropup]="true" style="display: inline-block" *ngIf="session.session.status != 'admin'">
              <button class="btn-only-sign" dropdownToggle><span class="glyphicon glyphicon-alert"></span></button>
              <ul *dropdownMenu class="dropdown-menu">
                <li><a role="button" (click)="shared.complain(comment.id, 'comment', 'offence')">{{lang.lang.offence}}</a></li>
                <!-- <li><a role="button" (click)="shared.complain(comment.id, 'comment', 'cp')">{{lang.lang.cp}}</a></li> -->
                <li><a role="button" (click)="shared.complain(comment.id, 'comment', 'spam')">{{lang.lang.spam}}</a></li>
                <li><a role="button" (click)="shared.complain(comment.id, 'comment', 'extremism')">{{lang.lang.extremism}}</a></li>
                <li><a role="button" (click)="shared.complain(comment.id, 'comment', 'flood')">{{lang.lang.flood}}</a></li>
                <!-- <li><a style="text-decoration: line-through">{{lang.lang.porn}}</a></li> -->
                <li><a role="button" (click)="shared.complain(comment.id, 'comment', 'other')">{{lang.lang.other}}</a></li>
              </ul>
            </div>
            <div class="complain" dropdown [dropup]="true" style="display: inline-block" *ngIf="session.session.status === 'admin'">
              <button class="btn-only-sign" dropdownToggle><span class="glyphicon glyphicon-wrench"></span></button>
              <ul *dropdownMenu class="dropdown-menu">
                <li><a role="button" (click)="editCommentOpen = true">{{lang.lang.edit}}</a></li>
                <li><a role="button" (click)="warnCommentOpen = true">{{lang.lang.warn}}</a></li>
                <li><a role="button" (click)="deleteComment()">{{lang.lang.delete}}</a></li>
              </ul>
            </div>
            <button class="btn-only-sign" [class.clicked]='!separate && comment.isFormOpened' (click)='openCommentForm()'><span class="glyphicon glyphicon-comment"></span></button>
          </ng-container>
          <div *ngIf='!separate && comment.isFormOpened' [@fade]="true">
            <app-comment-form  [reference]='comment.id' [post_id]="comment.post" (onComment)='comment.isFormOpened = false'></app-comment-form>
          </div>


    </td>
  </tr>
</table>

<app-edit *ngIf="editCommentOpen === true" [title]="lang.lang.edit" [value]="comment.comment" (action)="editComment($event)"></app-edit>
<app-edit *ngIf="warnCommentOpen === true" [title]="lang.lang.warn" [value]="comment.warning" (action)="warnComment($event)"></app-edit>
