.userpic {
  vertical-align: top;
  padding: 0px 2px;
  width: 36px;
}
.comment-header {
  vertical-align: top;
  word-break: break-all;
}
.comment-content {
  padding-left: 2px;
  word-break: break-all;
}
.comment-content p {
  margin: 0;
}
.comment-header p {
  font-size: 12px;
  margin: 0;
}
.comment-detail {
  padding-left: 2px;
}
.comment {
  width: 100%;
  margin-top: 5px;
}
.btn-only-sign {
  background: 0;
  border: 0;
  color: #8b8b8b;
}
.btn-only-sign.clicked {
  color: #4594d9;
}
.att-wrapper {
  max-width: 300px;
  position: relative;
}
.edit:hover {
  cursor: pointer;
}
.delete_button {
  position: absolute;
  right: 0px;
  top: 0px;
  border: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  z-index: 100500
}
